html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	width: 1200px;
}

.main-header {
	background-color: #eeeeee;
	padding-top: 50px;
}

a {
	text-decoration: none;
}

.header-top-inner {
	display: flex;
	flex-wrap: wrap;
}

.logo {
	width: 160px;
	height: 65px;
}

.logo:hover{
	opacity: 0.8;
}

.logo:active{
	opacity: 0.3;
}

.main-navigation {
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 500;

	display: flex;
}

.main-navigation a,
.cart a {
	color: #000000;
	display: block;
}

.main-navigation a:hover,
.cart a:hover {
	color: #fb565a;
}

.main-navigation a:active,
.cart a:active {
	color: #a6a6a6;
}

.site-navigation {
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0;
	margin-top: 25px;
	width: 840px;
}

.site-navigation li {
	padding:  0 23px;
	display: block;
}

.site-navigation .site-navigation-current,
.site-navigation .site-navigation-current:hover,
.site-navigation .site-navigation-current:active {
	font: inherit;
	border-bottom: 2px solid #fb565a;
}

.cart {
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 500;

	width: 160px;
	text-align: right;
	position: relative;
	margin-top: 24px;
}

.cart::before {
	content: "";
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	position: absolute;
	left: 45px;
	top: 8px;
	width: 15px;
	height: 15px;
	opacity: 0.3;
}

.cart-current a,
.cart-current a:hover,
.cart-current a:active  {
	border-bottom: 2px solid #fb565a;
}

.page-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	text-align: center;
	padding-bottom: 109px;
	margin: 77px auto 0 auto ;
}

.main-slider {
	position: relative;
	background-color: #eeeeee;
	width: 100%;
}

.controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;

	width: 160px;
	height: 18px;

	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.controls label {
	position: relative;
	box-sizing: content-box;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;

	border-radius: 50%;
	cursor: pointer;
}

.controls label::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;

	width: 18px;
	height: 18px;	
	border-radius: 50%;
	background-color: #ffffff;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}


.slide {
	display: none;
	padding: 77px 0 93px 0;
}

.slide:nth-child(1) {
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: 93% 18px;
}

.slide:nth-child(2) {
	background-image: url("../img/slide-2.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slide:nth-child(3) {
	background-image: url("../img/slide-3.png");
	background-repeat: no-repeat;
	background-position: 100% 20px;
}

#slide-1:checked ~ .slider-list .slide:nth-child(1) {
	display: block;
}

#slide-2:checked ~ .slider-list .slide:nth-child(2) {
	display: block;
}

#slide-3:checked ~ .slider-list .slide:nth-child(3) {
	display: block;
}

#slide-1:checked ~ .controls .controls-item--1::before,
#slide-2:checked ~ .controls .controls-item--2::before,
#slide-3:checked ~ .controls .controls-item--3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slide b {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;

	display: block;
	max-width: 600px;
	margin: 0;
	margin-bottom: 27px;
}

.slide p {
	max-width: 430px;
	margin: 0;
	margin-bottom: 52px;
}

.slide .button {
	padding: 15px 54px;
	border-radius: 3px;
}

.slide-1 p::after {
	content: "";
	display: block;
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	width: 760px;
	height: 431px;
	position: absolute;
	top: 132px;
	left: 571px;
}

.button,
.price-button {
	background-color: #fb565a;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.button:hover,
.price-button:hover {
	background-color: #e74246;
}

.button:active,
.price-button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.services-item:nth-child(2) .button {
	background-color: #00ca74;
}

.services-item:nth-child(3) .button {
	background-color: #efc84a;
}

.services-item:nth-child(2) .button:hover {
	background-color: #00bc6c;
}

.services-item:nth-child(3) .button:hover {
	background-color: #eab534;
}

.services-item:nth-child(2) .button:active {
	background-color: #00aa62;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.services-item:nth-child(3) .button:active {
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.column-wrapper {
	display: flex;
	justify-content: space-between;

}

.left-column {
	width: 260px;
	padding-top: 54px;
	box-sizing: content-box;
}

.right-column{
	width: 760px;
}

.filter fieldset {
	border: none;
	margin: 0;
	padding: 0;
	padding-bottom: 43px;
}

.filter-range {
	width: 260px;
	padding-top: 48px;

}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 12px;
	padding: 40px 20px 0 20px;
	background-color: #f1f1f1;

	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;

	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;

	background: #00ca74;
}

.range-controls .toggle {  
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}


.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.cost-controls {
	font-size: 0;
}

.cost-controls label {
	display: inline-block;
	width: 50%;
	font-size: 16px;
	text-transform: uppercase;
}

.cost-controls input {
	width: 60px;
	padding: 8px 10px;
	margin-left: 9px;
	margin-bottom: 10px;

	font: inherit;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.max-cost {
	text-align: right;
}

.filter-grid-list,
.filter-features-list {
	margin: 0;
	padding: 0;
}

.filter-option {
	list-style: none;
	line-height: 20px;
	padding: 15px 0 5px 35px;
}

.filter-input + label {
	color: #283136;
}

.filter-input:hover + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: rgba(40, 49, 54, 0.3);
}

.filter-option label {
	display: block;
	position: relative;
}

.filter-input-radio + label::before {
	content: "";
	width: 28px;
	height: 28px;
	position: absolute;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	border-radius: 50%;
	top: -3px;
	left: -34px;
	opacity: 0.3;
}

.filter-input-radio:checked + label::before {
	content: "";
	width: 28px;
	height: 28px;
	position: absolute;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	border-radius: 50%;
	top: -3px;
	left: -34px;
	opacity: 0.3;
}


.filter-input-checkbox + label::before {
	content: "";
	width: 28px;
	height: 28px;
	position: absolute;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	top: -2px;
	left: -34px;
	opacity: 0.3;
}

.filter-input-checkbox:checked + label::before {
	content: "";
	width: 28px;
	height: 28px;
	position: absolute;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	top: -2px;
	left: -34px;
	opacity: 0.3;
}

.filter-input-radio + label:hover::before,
.filter-input-checkbox + label:hover::before,
.filter-input-radio:checked + label:hover::before,
.filter-input-checkbox:checked + label:hover::before {
	opacity: 1;
}

.filter-input-radio + label:disabled::before,
.filter-input-checkbox + label:disabled::before,
.filter-input-radio:checked + label:disabled::before,
.filter-input-checkbox:checked + label:disabled::before {
	opacity: 0.1;
}

.filter-button {
	background-color: #eeeeee;
	text-transform: uppercase;
	border: none;
	line-height: 18px;
	font-weight: 500;	
	
	padding: 16px 89px;

	border-radius: 3px;
}

.filter-button:hover {
	background-color: #dfdfdf;
}

.filter-button:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.sorting {
	display: flex;
	padding: 55px 0 41px 0;
}

.sorting-list-wrapper {
	display: flex;
	width: 50%;
	justify-content: space-between;

}

.sorting-title {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	width: 50%;
}

.sorting-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.sorting-arrows {
	list-style: none;
}

.sorting-option {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase; 
	padding: 0 7px 0 19px;
}

.sorting-option:hover {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.6);
}

.sorting-option-current,
.sorting-option-current:hover,
.sorting-option-current:active,
.sorting-option:active {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
}

.sorting-arrows {
	display: flex;
	margin: 0;
	padding: 0;
	padding-top: 7px;
}

.arrow-up {
	padding-left: 19px; 
}

.arrow-down::before {
	content: "";
	display: block;
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-down-dir.svg");
	opacity: 0.2;
}

.arrow-up::before {
	content: "";
	display: block;
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-up-dir.svg");
	opacity: 0.2;
}

.arrow-up:hover::before {
	content: "";
	display: block;
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-up-dir.svg");
	opacity: 0.6;
}

.arrow-down:hover::before {
	content: "";
	display: block;
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-down-dir.svg");
	opacity: 0.6;
}

.arrow-up:active::before {
	content: "";
	display: block;
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-up-dir.svg");
	opacity: 1;
}

.arrow-current::before,
.arrow-down:active::before {
	content: "";
	display: block;
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-down-dir.svg");
	opacity: 1;
}

.models-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.model-link {
	color: #000000;
	text-transform: uppercase;	
}

.models-item {
	position: relative;
	margin: 12px 0 14px 0;
}

.models-item img {
	box-sizing: border-box;
	border: 1px solid #e5e5e5;	
}

.models-item::before {
	content: "";
	
	display: block;
	background-image: url("../img/browser.svg");
	opacity: 0.12;
	width: 360px;
	height: 40px;
}

.models-item:hover::before{
	content: "";
	
	display: block;
	background-image: url("../img/browser.svg");
	opacity: 1;
	width: 360px;
	height: 40px;
}

.model-description {
	background-color: #eeeeee;
	text-align: center;
	width: 360px;
	
	padding: 25px 0 31px 0;
	position: absolute;
	bottom: 10px;

	display: none;
}

.model-description h3 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;

	margin: 0;
}

.model-description p {
	line-height: 18px;
	color: #666666;
	padding: 15px 70px;
	margin:0;
}

.price-button {
	display: block;
	width: 200px;
	padding: 15px 0;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 15px;

	border-radius: 3px;
}

.models-item:hover div {
	display: block;
}

.services {
	padding: 80px 0 95px 0;
	box-shadow: inset 0 -2px 0 0 #eeeeee;
}

.services-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.services-item {
	padding-right: 100px;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;

	margin-bottom: 15px;
}

.services-list p {
	padding-bottom: 30px;
	padding-right: 50px;
}

.services-list li:nth-child(1)::before {
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	background-image: url("../img/illustration-sites.jpg");
}

.services-list li:nth-child(2)::before {
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	background-image: url("../img/illustration-apps.jpg");
}

.services-list li:nth-child(3)::before {
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	background-image: url("../img/illustration-presentation.jpg");
}

.services-item .button {
	padding: 15px 40px;
	border-radius: 3px;
}

.info {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	box-shadow: inset 0 -2px 0 0 #eeeeee;
}

.info-description {
	width: 660px;
	padding-top: 50px;
}

.info-description b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.info-description p {
	margin: 32px 0 40px 0;
}

.info-description-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.info-description-list li{
	position: relative;
	margin: 25px 0;
	padding: 0 35px;
}

.info-description-list li::before{
	content: "";
	display: block;
	height: 2px;
	width: 25px;
	background-color: #fb565a;
	position: absolute;
	top: 10px;
	left: 1px;

}

.info-description p:last-of-type {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 23px;
}

.info-terms p {
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding-top: 17px;
}

.info-terms-list {
	line-height: 18px;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;	
}

.info-terms-list li {
	width: 100px;
	padding-bottom: 0;
	padding-right: 20px;
	padding-top: 59px;
	display: flex;
	flex-direction: column;
}

.info-terms-list span {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
	margin-bottom: 37px;
}

.info-terms-list sup {
	font-size: 30px;
}

.info-terms p::before {
	content: "";
	display: block;
	background-image: url("../img/nerds-illustration.jpg");
	width: 360px;
	height: 208px;
	margin-bottom: 36px;
}

.partners-list {
	box-sizing: content-box;
	list-style: none;
	margin: 0;
	padding: 65px 0;
	margin-bottom: 82px;
	display: flex;
	flex-wrap: wrap;
	box-shadow: inset 0 -2px 0 0 #eeeeee;
}

.partners-item {
	width: 260px;
	height: 50px;
	padding: 0 20px;
	
	box-shadow: inset 2px 0 0 0 #eeeeee;
}

.partners-item a{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0.2;
	height: 55px;
}

.partners-item:first-child {
	padding-left: 0;
	box-shadow: none;
}

.partners-item:last-child {
	padding-right: 0;
	border-right: none;
}


.partners-item a:hover {
	opacity: 1;
}

.partners-item a:active {
	opacity: 0.1;
}

.pagination {
	list-style: none;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 16px;
	padding: 0;
	display: flex;
}

.pagination a {
	line-height: 18px;
	background-color: #eeeeee;
	color: #000000;
	text-transform: uppercase;

	display: block;
	padding: 16px 20px;
	margin-right: 11px;

	border-radius: 3px;
}

.pagination .pagination-last-button {
	padding: 16px 80px;
}

.pagination a:hover {
	background-color: #dfdfdf;
}

.pagination a:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
	box-shadow:  inset 0 3px 0 0 #bfbfbf;
}

.pagination-current a,
.pagination-current a:hover,
.pagination-current a:active {
	box-sizing: border-box;
	background-color: #ffffff;
	padding: 13px 18px;
	border: 3px solid #dbdbdb;
	color: #000000;
}

.map {
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
	margin: 45px 0 55px 0;
	height: 416px;
	position: relative;
}

.map::after {
	content: "";
	display: block;
	background-image: url(../img/map-marker.png);
	height: 190px;
	width: 231px;
	position: absolute;
	top:  21%;
	left: 57%;
}

.map iframe {
	position: relative;
	z-index: 2;

	border: none;
}

.contacts {
	box-sizing: border-box;
	background-color: #ffffff;
	font-size: 16px;
	line-height: 18px;

	width: 320px;
	padding: 28px 50px 46px 50px;
	position: absolute;
	top: 56px;
	z-index: 3;
}

.contacts h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;	
}

.contacts p {
	margin: 0;
	padding: 2px 0  17px 0;
}

.feedback .button {
	display: inline-block;
	margin-top: 20px;
	padding: 16px 44px;
	border-radius: 3px;
}

.footer-social {
	display: flex;
}

.socials {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-grow: 3;
	padding: 14px 10px 15px 0;
}

.social-button {
	display: flex;
	border-radius: 50%;
	background-color: #e1e1e1;
}

.socials li:not(:last-child) {
	padding-right: 13px;
}

.social-button:hover {
	background-color: #e74245;
}

.social-button:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.vk::before {
	content: "";
	display: block;
	background-image: url("../img/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	width: 78px;
	height: 78px;
}

.fb::before {
	content: "";
	display: block;
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	width: 78px;
	height: 78px;
}

.ig::before {
	content: "";
	display: block;
	background-image: url("../img/ig-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	width: 78px;
	height: 78px;
}

.vk:active::before {
	content: "";
	display: block;
	background-image: url("../img/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	width: 78px;
	height: 78px;
	opacity:0.3;
}

.fb:active::before {
	content: "";
	display: block;
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	width: 78px;
	height: 78px;
	opacity:0.3;
}

.ig:active::before {
	content: "";
	display: block;
	background-image: url("../img/ig-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	width: 78px;
	height: 78px;
	opacity:0.3;
}

.footer-social-discount{
	line-height: 22px;

	flex-grow: 5;
	padding-top: 20px;
}

.footer-social-discount b {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}

.footer-social-discount p {
	margin-top:  10px;
}

.modal-feedback {
	display: none;
	width: 960px;
	box-sizing: border-box;
	padding: 50px 80px;
	position: fixed;
	
	left: 50%;
	top: 50%;
	margin-left: -480px;
	margin-top: -330px;
	background-color: #ffffff;
	z-index: 110;

	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
	display: block;
}

.modal-close {
	width: 22px;
	height: 22px;
	position: absolute;
	top: 80px;
	right: 92px;

	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.modal-close::before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	background-image: url("../img/close-cross.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
 }

.modal-close:hover::before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	background-image: url("../img/close-cross.svg");
	background-repeat: no-repeat;
	opacity: 1;
}

.modal-close:active::before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	background-image: url("../img/close-cross.svg");
	background-repeat: no-repeat;
	opacity: 0.1;
}

.modal-feedback h2 {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;

	padding: 20px;
	padding-bottom: 22px;
	margin: 0;
}

.modal-feedback p {
	line-height: 18px;
	font-weight: 700;
}

.modal-form-wrapper {
	display: flex;
	padding: 0 20px;
	flex-wrap: wrap;
	justify-content: space-between;

}

.modal-feedback-form input {
	font-family: inherit;
	width: 360px;
	min-height: 50px;
	display: block;
	padding: 14px;
	margin-top: 10px;
	margin-bottom:  3px;
	border: 2px solid #d7dcde;
	color: rgba(68, 68, 68, 0.5);
	border-radius: 3px;
}

.modal-feedback-form textarea{
	box-sizing: border-box;
	padding: 10px 12px;
	margin: 10px 0;
	border: 2px solid #d7dcde;
	color: rgba(68, 68, 68, 0.5);
	border-radius: 3px;	
	display: block;
	width: 760px;
	min-height: 116px;
	resize: none;
}
.modal-feedback-form textarea:hover,
.modal-feedback-form input:hover {
	border-color: #b4b9bb;
	color: rgba(68, 68, 68, 0.5);
}
.modal-feedback-form textarea:focus,
.modal-feedback-form input:focus {
	border-color: #000000;
	color: #444444;
}
.modal-feedback-form textarea:invalid,
.modal-feedback-form input:invalid {
	border-color: #e74246;
	color: #e74246;
}

.modal-feedback .button {
	padding: 15px 84px;
	margin: 23px 20px 35px 20px;
	border-radius: 3px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

