body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

.main-header {
	background-color: #eeeeee;
}

a{
	text-decoration: none;
}

.main-navigation {
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 500;
}

.main-navigation a {
	color: #000000;
}

.cart {
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 500;
}

.cart a {
	color: #000000;
}

.site-navigation {
	list-style: none;
}

.slide b {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.slide-image-1 {
	background-image: url(../img/slide-1.png);
	background-repeat: no-repeat;
	width: 760px;
	height: 431px;
}

.slide-image-2 {
	background-image: url(../img/slide-2.png);
	background-repeat: no-repeat;
	width: 760px;
	height: 431px;
}


.slide-image-3 {
	background-image: url(../img/slide-3.png);
	background-repeat: no-repeat;
	width: 760px;
	height: 431px;
}


.button,
.price-button {
	background-color: #fb565a;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.services-item:nth-child(2) .button {
	background-color: #00ca74;
}

.services-item:nth-child(3) .button {
	background-color: #efc84a;
}

.services-list {
	list-style: none;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.services-list li:nth-child(1)::before {
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	background-image: url(../img/illustration-sites.jpg);
}

.services-list li:nth-child(2)::before {
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	background-image: url(../img/illustration-apps.jpg);
}

.services-list li:nth-child(3)::before {
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	background-image: url(../img/illustration-presentation.jpg);
}


.info-description b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.info-description p:last-of-type {
	text-transform: uppercase;
	font-weight: 700;
}

.info-terms p {
	text-transform: uppercase;
	font-weight: 700;
}

.info-terms-list {
	line-height: 18px;
	list-style: none;
}

.info-terms-list span {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
}

.info-terms p::before {
	content: "";
	display: block;
	background-image: url("../img/nerds-illustration.jpg");
	width:360px;
	height: 208px;
}

.partners-list {
	list-style: none;
}

.partners-item {
	opacity: 0.2;
}

.partners-item:hover {
	opacity: 1;
}

.partners-item:active {
	opacity: 0.1;
}

.map {
	background-image: url("../img/map.jpg");
	background-repeat: no-repeat;
}

.contacts {
	background-color: #ffffff;
	width: 319px;
	height: 308px;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.socials {
	list-style: none;
}

.vk::before {
	content: "";
	display: block;
	background-color: #e1e1e1;
	background-image: url("../img/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	width: 78px;
	height: 78px;
}

.fb::before {
	content: "";
	display: block;
	background-color: #e1e1e1;
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	width: 78px;
	height: 78px;
}

.ig::before {
	content: "";
	display: block;
	background-color: #e1e1e1;
	background-image: url("../img/ig-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	width: 78px;
	height: 78px;
}




.footer-social-discount{
	line-height: 22px;
}

.footer-social-discount b {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}