body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

.main-header {
	background-color: #eeeeee;
}

a{
	text-decoration: none;
}

.main-navigation {
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 500;
}

.main-navigation a {
	color: #000000;
}

.cart {
	text-transform: uppercase;
	line-height: 30px;
	font-weight: 500;
}

.cart a {
	color: #000000;
}

.site-navigation {
	list-style: none;
}

.slide b {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.button,
.price-button {
	background-color: #fb565a;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.services-item:nth-child(2) .button {
	background-color: #00ca74;
}

.services-item:nth-child(3) .button {
	background-color: #efc84a;
}

.services-list {
	list-style: none;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.info-description b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
}

.info-description p:last-of-type {
	text-transform: uppercase;
	font-weight: 700;
}

.info-terms p {
	text-transform: uppercase;
	font-weight: 700;
}

.info-terms-list {
	line-height: 18px;
	list-style: none;
}

.info-terms-list span {
	font-size: 45px;
	line-height: 10.06px;
	font-weight: 700;
}


